@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "./input.scss";
@import "./scrollbar.scss";
@import "./popper";

@include b(autocomplete) {
  position: relative;
  display: inline-block;
}

@include b(autocomplete-suggestion) {
  margin: 5px 0;
  box-shadow: $--box-shadow-base;
  border-radius: $--border-radius-base;
  // border: 1px solid $--border-color-light;
  box-sizing: border-box;
  background-color: $--color-white;

  @include e(wrap) {
    max-height: 280px;
    padding: 4px 0;
    box-sizing: border-box;
  }

  @include e(list) {
    margin: 0;
    padding: 0;
  }

  & li {
    padding: 0 16px;
    margin: 0;
    line-height: 32px;
    cursor: pointer;
    color: $--color-text-regular;
    font-size: $--font-size-base;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $--select-option-hover-background;
    }

    &.highlighted {
      background-color: $--select-option-hover-background;
    }

    &.divider {
      margin-top: 6px;
      border-top: 1px solid $--color-black;
    }

    &.divider:last-child {
      margin-bottom: -6px;
    }

    &.empty {
      height: 56px;
      line-height: 56px;
      font-size: 12px;
      color: $--nc5;
      text-align: center;
    }
  }

  @include when(loading) {
    li {
      // text-align: center;
      height: 56px;
      line-height: 56px;
      font-size: 12px;
      color: $--nc5;
      display: flex;
      align-items: center;
      justify-content: center;
      @include utils-vertical-center;

      &:hover {
        background-color: $--color-white;
      }
    }

    & .y-icon-loading {
      margin-right: 8px;
      color: $--color-primary;
      vertical-align: middle;
    }
  }
}
