@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";

@include b(button) {
  display: inline-block;
  height: 32px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  background: $--button-default-background-color;
  border: $--border-base;
  border-color: $--button-default-border-color;
  color: $--button-default-font-color;
  -webkit-appearance: none;
  box-sizing: content-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;
  @include utils-user-select(none);
  & + & {
    margin-left: 12px;
  }

  @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

  &:hover,
  &:focus {
    border-color: $--nc8;
    background-color: $--nc11;
  }

  &:active {
    border-color: $--nc8;
    background-color: $--nc10;
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  @include m(inner-text) {
    display: inline-block;
    height: 17px;
    line-height: 17px;
    vertical-align: middle;
  }

  & [class*="y-icon-"] {
    font-size: 16px;
    vertical-align: middle;
    & + span {
      margin-left: 4px;
    }
  }

  span + [class*="y-icon-"] {
    margin-left: 4px;
  }

  .path {
    stroke: $--nc1;
  }

  @include when(active) {
    border-color: $--nc8;
    background-color: $--nc10;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      background-color: $--color-white;
      cursor: not-allowed;
      background-image: none;
      opacity: .5;
    }
  }

  @include when(loading) {
    pointer-events: none;
    & [class*="y-icon-"] {
      font-size: 12px;
      height: 12px;
      vertical-align: middle;
    }
  }

  @include m(primary) {
    @include button-variant($--button-primary-font-color, $--button-primary-background-color, $--button-primary-border-color, $--button-primary-dark-color);

    .path {
      stroke: $--color-white;
    }
  }

  @include m(secondary) {
    color: $--color-primary;
    background-color: $--color-white;
    border-color: $--color-primary;

    &:hover,
    &:focus {
      background-color: $--color-primary-light-9;
      border-color: $--color-primary;
      color: $--color-primary;
    }

    &:active {
      background-color: $--color-primary-light-8;
      border-color: $--color-primary-dark;
      color: $--color-primary-dark;
      outline: none;
    }

    &.is-active {
      background-color: $--color-primary-light-8;
      border-color: $--color-primary-dark;
      color: $--color-primary-dark;
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $--color-primary;
        background-color: $--color-white;
        border-color: $--color-primary;
        opacity: .5;
      }
    }

    .path {
      stroke: $--color-primary;
    }
  }

  @include m(danger) {
    @include button-variant($--button-danger-font-color, $--button-danger-background-color, $--button-danger-border-color, $--button-danger-dark-color);

    .path {
      stroke: $--color-white;
    }
  }

  @include m(small) {
    height: 22px;
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);

    .y-button--inner-text {
      height: 12px;
      line-height: 12px;
      font-size: 12px;
    }

    & [class*="y-icon-"] {
      font-size: 12px;
      vertical-align: middle;
    }

    @include when(loading) {
      padding: 0px 7px;
    }
  }

  @include when(text) {
    border-color: transparent;
    color: $--nc1;
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: $--color-primary;
      opacity: .8;
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: $--color-primary-dark;
      border-color: transparent;
      background-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      color: $--nc1;
      border-color: transparent;
      background-color: transparent;
      opacity: .5;
    }
    
    .path {
      stroke: $--nc1;
    }

    &.y-button--primary {
      @include button-text-variant($--button-primary-text-color, $--button-primary-text-hover-color, $--button-primary-text-dark-color);

      .path {
        stroke: $--color-primary;
      }
    }

    &.y-button--danger {
      @include button-text-variant($--button-danger-text-color, $--button-danger-text-hover-color, $--button-danger-text-dark-color);

      .path {
        stroke: $--color-danger;
      }
    }
  }

  @include when(block) {
    width: 100%;
    height: 42px;
    line-height: 1;
    padding: 0;
    border-radius: 0;
    & + & {
      margin-left: 0px;
    }
  }
}

@include b(button-group) {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & > .y-button {
    float: left;
    position: relative;
    & + .y-button {
      margin-left: 0;
    }
    &.is-disabled {
      z-index: 1;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      z-index: 2;
    }
    &:first-child:last-child {
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
      border-top-left-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;

      &.is-round {
        border-radius: 20px;
      }

      &.is-circle {
        border-radius: 50%;
      }
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:not(.is-disabled) {
      &:hover,
      &:focus,
      &:active {
        z-index: 1;
      }
    }

    @include when(active) {
      z-index: 1;
    }
  }
  
  & > .y-dropdown {
    & > .y-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: rgba($--color-white, 0.5);
    }
  }

  @each $type in (primary, danger, default, secondary) {
    .y-button--#{$type} {
      &:first-child {
        border-right-color: rgba($--color-white, 0.2);
      }
      &:last-child {
        border-left-color: rgba($--color-white, 0.2);
      }
      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($--color-white, 0.2);
        border-right-color: rgba($--color-white, 0.2);
      }
    }
  }
}
