@font-face {
  font-family: 'yun-icons';
  src: url('#{$--font-path}/yun-icons.woff') format('woff'), /* chrome, firefox */
       url('#{$--font-path}/yun-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}
[class^="y-icon-"], [class*=" y-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yun-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.y-icon-addexpression:before { content: "\e6b2"; }
.y-icon-addpicture:before { content: "\e725"; }
.y-icon-address_surface:before { content: "\e70f"; }
.y-icon-agree:before { content: "\e6a7"; }
.y-icon-arrow-down:before { content: "\e6eb"; }
.y-icon-arrow_left_wide:before { content: "\e666"; }
.y-icon-arrow_right_wide:before { content: "\e667"; }
.y-icon-arrow-up:before { content: "\e6ea"; }
.y-icon-arrow_down_filled:before { content: "\e6e7"; }
.y-icon-arrow_left_filled:before { content: "\e6e8"; }
.y-icon-arrow_right_filled:before { content: "\e6e9"; }
.y-icon-arrow_up_filled:before { content: "\e6e6"; }
.y-icon-arrow2_down_wide:before { content: "\e6e3"; }
.y-icon-arrow2_left_wide:before { content: "\e6e4"; }
.y-icon-arrow2_right_wide:before { content: "\e6e5"; }
.y-icon-arrow2_up_wide:before { content: "\e6e2"; }
.y-icon-arrowsalt:before { content: "\e6ac"; }
.y-icon-arrowsalt2:before { content: "\e696"; }
.y-icon-arrowsalt_wide:before { content: "\e6cd"; }
.y-icon-at:before { content: "\e6a8"; }
.y-icon-backlog_brokenline:before { content: "\e6ee"; }
.y-icon-bottom:before { content: "\e6af"; }
.y-icon-bottom_wide:before { content: "\e6d2"; }
.y-icon-camera:before { content: "\e6c5"; }
.y-icon-check:before { content: "\e68a"; }
.y-icon-check_wide:before { content: "\e6cf"; }
.y-icon-close:before { content: "\e695"; }
.y-icon-circle-close:before { content: "\e707"; }
.y-icon-close_wide:before { content: "\e6d5"; }
.y-icon-collect:before { content: "\e6a0"; }
.y-icon-collect_surface:before { content: "\e66b"; }
.y-icon-copy:before { content: "\e6ca"; }
.y-icon-date:before { content: "\e726"; }
.y-icon-delete:before { content: "\e6c3"; }
.y-icon-demo:before { content: "\e6a1"; }
.y-icon-disable:before { content: "\e691"; }
.y-icon-double_down:before { content: "\e6db"; }
.y-icon-double_down_wide:before { content: "\e6df"; }
.y-icon-double_left:before { content: "\e6dc"; }
.y-icon-double_left_wide:before { content: "\e6e0"; }
.y-icon-double_right:before { content: "\e6dd"; }
.y-icon-double_right_wide:before { content: "\e6e1"; }
.y-icon-double_up:before { content: "\e6da"; }
.y-icon-double_up_wide:before { content: "\e6de"; }
.y-icon-download:before { content: "\e6ae"; }
.y-icon-drag:before { content: "\e6b3"; }
.y-icon-drag_wide:before { content: "\e6d4"; }
.y-icon-edit2:before { content: "\e6c4"; }
.y-icon-edit:before { content: "\e67f"; }
.y-icon-empty:before { content: "\e6a2"; }
.y-icon-export:before { content: "\e6ad"; }
.y-icon-exportfile:before { content: "\e724"; }
.y-icon-expression:before { content: "\e680"; }
.y-icon-fail:before { content: "\e733"; }
.y-icon-file_brokenline:before { content: "\e6f1"; }
.y-icon-file:before { content: "\e723"; }
.y-icon-fileshare:before { content: "\e722"; }
.y-icon-folder:before { content: "\e6fd"; }
.y-icon-follow:before { content: "\e676"; }
.y-icon-follow_surface:before { content: "\e668"; }
.y-icon-font:before { content: "\e681"; }
.y-icon-grid:before { content: "\e69a"; }
.y-icon-group:before { content: "\e732"; }
.y-icon-hide:before { content: "\e6a9"; }
.y-icon-holidaymanagement:before { content: "\e727"; }
.y-icon-home:before { content: "\e6bb"; }
.y-icon-information:before { content: "\e721"; }
.y-icon-keyboard:before { content: "\e720"; }
.y-icon-like:before { content: "\e692"; }
.y-icon-like_surface:before { content: "\e669"; }
.y-icon-list:before { content: "\e71f"; }
.y-icon-live_brokenline:before { content: "\e6f7"; }
.y-icon-loading:before { content: "\e6b9"; }
.y-icon-locked_surface:before { content: "\e710"; }
.y-icon-mail:before { content: "\e71e"; }
.y-icon-maximize_wide:before { content: "\e729"; }
.y-icon-message_brokenline:before { content: "\e6ed"; }
.y-icon-message:before { content: "\e731"; }
.y-icon-message_surface:before { content: "\e706"; }
.y-icon-microphoneon_surface:before { content: "\e70e"; }
.y-icon-minus2:before { content: "\e730"; }
.y-icon-minus:before { content: "\e6ab"; }
.y-icon-minus_surface:before { content: "\e705"; }
.y-icon-mobile:before { content: "\e6a3"; }
.y-icon-more:before { content: "\e6be"; }
.y-icon-more2:before { content: "\e71d"; }
.y-icon-more_horizontal:before { content: "\e6aa"; }
.y-icon-more_surface:before { content: "\e70d"; }
.y-icon-more_vertical:before { content: "\e6b0"; }
.y-icon-multiple:before { content: "\e699"; }
.y-icon-newtext:before { content: "\e71c"; }
.y-icon-notes_surface:before { content: "\e673"; }
.y-icon-notification:before { content: "\e688"; }
.y-icon-onlinedocumentation:before { content: "\e71b"; }
.y-icon-openlist:before { content: "\e71a"; }
.y-icon-organization_brokenline:before { content: "\e6ec"; }
.y-icon-organization:before { content: "\e67e"; }
.y-icon-paperclip:before { content: "\e678"; }
.y-icon-picture:before { content: "\e6c2"; }
.y-icon-plus2:before { content: "\e72f"; }
.y-icon-plus:before { content: "\e6b1"; }
.y-icon-plus_surface:before { content: "\e704"; }
.y-icon-plus_wide:before { content: "\e6d0"; }
.y-icon-poweroff:before { content: "\e6d9"; }
.y-icon-poweroff2:before { content: "\e72e"; }
.y-icon-printing:before { content: "\e719"; }
.y-icon-projection_brokenline:before { content: "\e6f8"; }
.y-icon-public_brokenline:before { content: "\e6f3"; }
.y-icon-qa:before { content: "\e690"; }
.y-icon-qrcode:before { content: "\e6c1"; }
.y-icon-refresh:before { content: "\e689"; }
.y-icon-refresh_wide:before { content: "\e6d7"; }
.y-icon-remind:before { content: "\e718"; }
.y-icon-remind_surface:before { content: "\e703"; }
.y-icon-repeat_surface:before { content: "\e711"; }
.y-icon-reply:before { content: "\e693"; }
.y-icon-return:before { content: "\e6b7"; }
.y-icon-review:before { content: "\e68e"; }
.y-icon-rollback:before { content: "\e6b8"; }
.y-icon-rotate:before { content: "\e67d"; }
.y-icon-save:before { content: "\e6c7"; }
.y-icon-scan:before { content: "\e6c8"; }
.y-icon-screen:before { content: "\e6b6"; }
.y-icon-screen_wide:before { content: "\e6d8"; }
.y-icon-screencapture:before { content: "\e72d"; }
.y-icon-search_brokenline:before { content: "\e6f4"; }
.y-icon-search:before { content: "\e677"; }
.y-icon-search_wide:before { content: "\e6cc"; }
.y-icon-see_brokenline:before { content: "\e6fa"; }
.y-icon-sendfile:before { content: "\e717"; }
.y-icon-separator:before { content: "\e6b5"; }
.y-icon-set_brokenline:before { content: "\e6ef"; }
.y-icon-setup:before { content: "\e68f"; }
.y-icon-share:before { content: "\e69f"; }
.y-icon-share2:before { content: "\e6b4"; }
.y-icon-share_surface:before { content: "\e66a"; }
.y-icon-share2_surface:before { content: "\e70c"; }
.y-icon-share_brokenline:before { content: "\e6f0"; }
.y-icon-shrink:before { content: "\e6bf"; }
.y-icon-shrink2_wide:before { content: "\e6ce"; }
.y-icon-sort:before { content: "\e6bc"; }
.y-icon-sort_wide:before { content: "\e6d3"; }
.y-icon-sortdown:before { content: "\e697"; }
.y-icon-sortup:before { content: "\e698"; }
.y-icon-speaker_surface:before { content: "\e675"; }
.y-icon-speakeroff_surface:before { content: "\e674"; }
.y-icon-stop_surface:before { content: "\e702"; }
.y-icon-success:before { content: "\e687"; }
.y-icon-switch_wide:before { content: "\e6d6"; }
.y-icon-team_brokenline:before { content: "\e734"; }
.y-icon-team:before { content: "\e68c"; }
.y-icon-tick_surface:before { content: "\e701"; }
.y-icon-time2:before { content: "\e715"; }
.y-icon-time_brokenline:before { content: "\e6f2"; }
.y-icon-time:before { content: "\e716"; }
.y-icon-time_surface:before { content: "\e700"; }
.y-icon-tips:before { content: "\e686"; }
.y-icon-top:before { content: "\e6bd"; }
.y-icon-top_wide:before { content: "\e6d1"; }
.y-icon-uploadagain_surface:before { content: "\e6ff"; }
.y-icon-uploadfile:before { content: "\e714"; }
.y-icon-uploadpicture:before { content: "\e713"; }
.y-icon-user_brokenline:before { content: "\e735"; }
.y-icon-user:before { content: "\e72c"; }
.y-icon-user_surface:before { content: "\e708"; }
.y-icon-user_wide:before { content: "\e728"; }
.y-icon-useradd:before { content: "\e694"; }
.y-icon-usermanage:before { content: "\e72b"; }
.y-icon-video_brokenline:before { content: "\e6f5"; }
.y-icon-video:before { content: "\e72a"; }
.y-icon-video_surface:before { content: "\e709"; }
.y-icon-view:before { content: "\e6ba"; }
.y-icon-voice_brokenline:before { content: "\e6f9"; }
.y-icon-voice_surface:before { content: "\e70a"; }
.y-icon-wait:before { content: "\e712"; }
.y-icon-wait_surface:before { content: "\e70b"; }
.y-icon-warning:before { content: "\e685"; }
.y-icon-warning_surface:before { content: "\e6fe"; }
.y-icon-web:before { content: "\e6fc"; }
.y-icon-zoom_in:before { content: "\e67b"; }
.y-icon-zoom_out:before { content: "\e67c"; }

.y-icon-loading {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
