@import "mixins/mixins";
@import "common/var";
@import "common/popup";
@import "button";
@import "input";

@include b(message-box) {
  position: relative;
  display: inline-block;
  width: $--msgbox-width;
  padding-bottom: 16px;
  vertical-align: middle;
  background-color: $--color-white;
  border-radius: $--msgbox-border-radius;
  border: 1px solid $--border-color-lighter;
  font-size: $--messagebox-font-size;
  box-shadow: $--box-shadow-light;
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;

  @include e(wrapper) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: -60vh;
    }
  }

  &.without-title {
    .y-message-box__headerbtn {
      top: 24px;
    }
    .y-message-box__content {
      padding: 24px 60px 8px 24px;
    }
  }

  @include e(header) {
    position: relative;
    padding: 16px 24px;
    background-color: $--nc12;
  }

  @include e(title) {
    padding-left: 0;
    margin-bottom: 0;
    font-size: $--messagebox-font-size;
    font-weight: 600;
    line-height: 1;
    color: $--messagebox-title-color;
  }

  @include e(headerbtn) {
    position: absolute;
    top: 14px;
    right: 24px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: $--message-close-size;
    cursor: pointer;
    z-index: 1;

    .y-message-box__close {
      color: $--color-info;
      font-weight: bold;
    }

  }

  @include e(content) {
    padding: 24px;
    color: $--messagebox-content-color;
    font-size: $--messagebox-content-font-size;
  }

  @include e(container) {
    position: relative;
  }

  @include e(input) {
    padding-top: 4px;

    & input.invalid {
      border-color: $--color-danger;
      &:focus {
        border-color: $--color-danger;
      }
    }
  }

  @include e(status) {
    position: absolute;
    top: 1px;
    // transform: translateY(-50%);
    font-size: 20px !important;

    &::before {
      // 防止图标切割
      // padding-left: 1px;
    }

    + .y-message-box__message {
      padding-left: 28px;
      // padding-right: 12px;
    }

    &.y-icon-tick_surface {
      color: $--messagebox-success-color;
    }

    &.y-icon-warning_surface {
      color: $--messagebox-danger-color;
    }

    &.y-icon-message_surface {
      color: $--messagebox-warning-color;
    }
  }

  @include e(message) {
    margin: 0;

    &-title {
      font-size: $--font-size-medium;
      font-weight: 600;
      line-height: 22px;
      margin-bottom: 8px;
    }

    & p {
      margin: 0;
      line-height: 20px;
    }
  }

  @include e(errormsg) {
    color: $--color-danger;
    font-size: $--messagebox-error-font-size;
    min-height: 18px;
    margin-top: 2px;
  }

  @include e(btns) {
    padding: 16px 24px 0;
    text-align: right;
  }

  @include e(btns-reverse) {
    flex-direction: row-reverse;
  }
}

.msgbox-fade-enter-active {
  animation: msgbox-fade-in .3s;
}

.msgbox-fade-leave-active {
  animation: msgbox-fade-out .3s;
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
