.demo-block.demo-dialog {
  .full-image {
    width: 100%;
  }
  .y-dialog__wrapper {
    margin: 0;
  }
  .y-select {
    width: 300px;
  }
  .y-input {
    width: 300px;
  }
  .y-button--text {
    margin-right: 15px;
  }
  .footer-tip {
    color: #768893;
    font-size: 14px;
    i {
      font-size: 16px;
      margin-right: 4px;
      vertical-align: text-top;
    }
  }
  .title-operation i {
    margin-right: 16px;
    cursor: pointer;
    &:last-child {
      margin: 0;
    }
  }
}
